extends loggedin.pug
block all
    div.container
        div.row
            div.col.s12
                table.highlight
                    thead
                        tr
                            th Course
                            th Colour
                            th Credits
                        for curr_item in courses
                            tr
                                td(style="display:none;") #{curr_item.id}
                                td #{curr_item.name}
                                td
                                    div(style="width: 32px; height: 32px; background-color: " + curr_item.colour)
                                td #{curr_item.credits}
                                td
                                    a.right.black-text(href="#", onclick='deleteCourse(this)') #[i.material-icons delete]
                div(style="min-height: 50vh")
        div.indigo.accent-2.white-text.container(style="position: fixed; bottom: 0; padding: 16px; margin: 8px; border-radius: 8px; z-index: 3000")
            h5 Add New Item
            form(id="newitemform", style="color: white")
                    div.row
                        div.input-field.col.s3
                            input(placeholder="Course",name="courseName", type="text", class="validate").white-text
                            label(for="courseName") Course
                        div.input-field.col.s3
                            label.pickerlabel
                                input.autocomplete(id="colour", name="colour", type="color").white-text
                        div.input-field.col.s3
                            input(placeholder="Credits",name="credits", type="number", class="validate").white-text
                            label(for="credits") Credits
                        a.btn.right.black-text(href="#", onclick="newitem()", id="submit") Add
block scripts
    script(src="js/formHandler.js")
    style.
        .pickerlabel {
            background-color: black;
            width: 90%;
        }

        input[type=color] {
            visibility: hidden;
        }
    script(type='text/javascript').
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
        })

        //Colour Picker
        $(document).on('change', 'input[type=color]', function () {
            this.parentNode.style.backgroundColor = this.value;
        });


        function newitem() {
            let empties = 0
            $(':input').each(function () {
                if ($(this).val() == "") {
                    empties++;
                }
            })
            if (empties > 0) {
                return
            }
            fetch("/newcourse", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(objectifyForm($('#newitemform').serializeArray()))
            }).then(res => {
                location.reload()
            });
        }

        function deleteCourse(self) {
            let item = $(self).closest('tr').find('td:first').text();
            console.log(item)
            fetch("/deleteCourse", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({item: item})
            });
            $(self).closest('tr')[0].remove();
        }
    style.
        td {
            border-radius: 0px;
        }


