extends loggedin.pug
block all
    div.container
        div.col.s12
            table.highlight
                thead
                    tr
                        th Course
                        th Colour

                    for curr_item in courses
                        // TODO: Colour coding
                        tr
                            td #{curr_item.name}
                            td #{curr_item.colour}
        div.card
            div.card-content
                span.card-title Add New Course
                div.row
                    form.col.s12(id="newitemform")
                        div.input-field.col.s4
                            input(placeholder="Course Name",name="courseName", type="text", class="validate")
                            label(for="title") Course Name
                        div.input-field.col.s4
                            input.autocomplete(id="colour", name="colour" type="color", class="validate")
                        div.card-action
                            a(href="#", onclick="newitem()", id="submit").right.orange-text Add

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(type='text/javascript', src='js/materialize.min.js')
    script(src="js/formHandler.js")
    script(type='text/javascript').
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
        })
        function newitem() {
            let empties = 0
            $(':input').each(function () {
                if ($(this).val() == "") {
                    empties++;
                }
            })
            if (empties > 0) {
                return
            }
            fetch("/newcourse", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(objectifyForm($('#newitemform').serializeArray()))
            }).then(res => {
                location.reload()
            });
        }

        function sendCompleted(self) {
            console.log()
            let done = $(self).is(':checked')
            let item = $(self).closest('tr').find('td:first').text()
            let data = {item, done}
            fetch("/complete", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            }).then(res => {
                // console.log("Request complete! response:", res);
            });
            $(self).closest('tr')[0].classList.replace(done ? 'white' : 'grey', done ? 'grey' : 'white');
        }



