extends loggedin.pug
block all
    div.container
        for curr_course in courses
            div.col.s5
                div.course
                - console.log(curr_course)
                    table.courseTable
                        thead
                            tr
                                th #{curr_course.name}
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
    style.
        table {
            border: 2px solid;
            background-color: #f55
        }
        tr {
            line-height: 0px;
        }
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(type='text/javascript').
        let courseList = !{JSON.stringify(courses)};
        console.log(courseList);
    script(src="js/gpa.js")
    