extends loggedin.pug
block all
    div.container
        div.row
            div.col.s5
                div.course
                    table
                        thead
                            tr
                                th ENGINEER 1P13B
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
                        tr
                            td Assignment Name 1
                            td 50%
                            td 100%
                        tr
                            td Assignment Name 2
                            td 50%
                            td 100%
            div.col.s5
                div.course
                    table
                        thead
                            tr
                                th ENGINEER 1P13B
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
                        tr
                            td Assignment Name 1
                            td 50%
                            td 100%
                        tr
                            td Assignment Name 2
                            td 50%
                            td 100%
        div.row
            div.col.s5
                div.course
                    table
                        thead
                            tr
                                th ENGINEER 1P13B
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
                        tr
                            td Assignment Name 1
                            td 50%
                            td 100%
                        tr
                            td Assignment Name 2
                            td 50%
                            td 100%
            div.col.s5
                div.course
                    table
                        thead
                            tr
                                th ENGINEER 1P13B
                                th
                                th 100%
                            tr
                                th Assignment
                                th Weight
                                th Grade
                        tr
                            td Assignment Name 1
                            td 50%
                            td 100%
                        tr
                            td Assignment Name 2
                            td 50%
                            td 100%
    style.
        table {
            border: 2px solid;
            background-color: #f55
        }
        tr {
            line-height: 0px;
        }