html
    head
        title BetterThanExcel
        link(rel='stylesheet', href='css/materialize.css', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        ul#dropdown.dropdown-content
            li
                a(href="/login") Log Out
        nav
            div.nav-wrapper
                div.container
                    a(href="/", class="brand-logo", style="padding-left: 10px;") BetterThanExcel
                    ul.right
                        li
                            a(href="/") Home
                        li
                            a(href="/gpa") GPA
                        li
                            a(href="/courses") Courses
                        li
                            a(data-target="dropdown").dropdown-trigger #{username}
block all
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(type='text/javascript', src='js/materialize.min.js')

block scripts