html
    head
        title Login - BetterThanExcel
        link(rel='stylesheet', href='css/materialize.css', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        nav
            div.nav-wrapper
                a(href="#", class="brand-logo", style="padding-left: 10px;") BetterThanExcel
        div.container
            div.row
                div.col.s12
                    h1.headercol.col.s4.offset-s4.center.indigo-text BTE
                    form(action="/login", method="post", id="loginForm")
                        div.input-field.col.s4.offset-s4
                            input(id="username", type="text", name="username")
                            label(for="username") Username
                        div.input-field.col.s4.offset-s4
                            input(id="password", type="password", name="password")
                            label(for="password") Password
                            span.helper-text.red-text#errorText(style="visibility: hidden") Your username or password is incorrect. Please try again.
                        div.input-field.col.s4.offset-s4.right-align
                            a.btn.waves-effect.waves-light.indigo(onclick="login()") Login
        script(type='text/javascript', src='js/materialize.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="js/formHandler.js")
        script(type="text/javascript").
            function login() {
                let empties = 0
                $(':input').each(function () {
                    if ($(this).val() == "") {
                        empties++;
                    }
                })
                if (empties > 0) {
                    return
                }
                fetch("/login", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(objectifyForm($('#loginForm').serializeArray()))
                }).then(res => {
                    if (res.status != 200) {
                        $('#loginForm').trigger("reset");
                        $('#errorText').css("visibility","visible");
                    } else {
                        res.json().then((r)=> console.log(r))
                        window.location.href = "/";
                    }
                });
            }