html
    head
        title Register - BetterThanExcel
        link(rel='stylesheet', href='css/materialize.css', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        nav
            div.nav-wrapper
                a(href="/", class="brand-logo", style="padding-left: 10px;") BetterThanExcel
        div.container
            div.row
                div.col.s12
                    h1.header.col.l6.s12.offset-l3.center.indigo-text Create Account
                    form(action="/register", method="post", id="registerForm")
                        div.input-field.col.l6.s12.offset-l3
                            input(id="username", type="text", name="username")
                            label(for="username") Username
                        div.input-field.col.l6.s12.offset-l3
                            input(id="password", type="password", name="password")
                            label(for="password") Password
                            span.helper-text.red-text#errorText(style="visibility: hidden") That user already exists. Please try again.
            div.row
                a.col.s5.l3.offset-l6.offset-s7.waves-effect.waves-light.btn.indigo(onclick="register()") Create Account
        script(type='text/javascript', src='js/materialize.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="js/formHandler.js")
        script(type="text/javascript").
            function register() {
                let empties = 0
                $(':input').each(function () {
                    if ($(this).val() == "") {
                        empties++;
                    }
                })
                if (empties > 0) {
                    return
                }
                fetch("/register", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(objectifyForm($('#registerForm').serializeArray()))
                }).then(res => {
                    if (res.status != 200) {
                        $('#registerForm').trigger("reset");
                        $('#errorText').css("visibility","visible");
                    } else {
                        console.log("we go")
                        window.location.href = "/";
                    }
                });
            }